.inline-layout-switch {
    position: relative;
    width: 280px;
    height: 100%;
    border-block: 1px solid var(--uui-color-border);
    box-sizing: border-box;

    swiper-container {
        height: 100%;
    }

    .inline-layout-switch__layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: bold;
        padding-inline: 3.5rem;
    }

    &:hover {
        background-color: var(--uui-color-surface-emphasis);

        .inline-layout-switch__preview {
            visibility: visible;
        }
    }

    .inline-layout-switch__preview {
        --preview-height: 7rem;
        position: absolute;
        z-index: 50;
        visibility: hidden;
        bottom: calc(-1 * (var(--preview-height) + var(--uui-size-5)));
        height: var(--preview-height);
        left: 0;
        right: 0;
        padding: var(--uui-size-3);
        border: 1px solid var(--uui-color-border);
        border-radius: calc(var(--uui-border-radius) * 2);
        background-color: var(--uui-color-background);
        box-shadow: var(--uui-shadow-depth-1);
        border-radius: var(--uui-border-radius);

        .inline-layout-switch__layout {
            padding: 0;
            border: 1px solid var(--uui-color-border);
            border-radius: var(--uui-border-radius);
            overflow: hidden;
            box-sizing: border-box;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
