@using Perplex.ContentBlocks.Rendering
@using ContentModels = Umbraco.Web.PublishedModels
@model IContentBlockViewModel<ContentModels.ExampleHeader>
<div style="height: 600px; background-color: red; border: 8px solid black;">
    @Html.Partial("ContentBlocks/_ExampleHeader", Model.Content)
</div>
