.addBlockModal {
    background-color: var(--uui-color-background);
    right: calc(var(--slider-width) * -1);
    transition: right var(--uui-modal-transition-duration, 250ms);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    .addBlockModal__filterBar {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-column: 1 / -1;
        gap: var(--uui-size-3);
        padding: var(--uui-size-5);
        border-bottom: 1px solid var(--uui-color-border);
        background: var(--uui-color-surface);

        .addBlockModal__searchBar {
            grid-column: span 2;
            display: flex;
            gap: var(--uui-size-4);
            display: flex;
            gap: var(--uui-size-2);
            flex-wrap: wrap;

            .addBlockModal__filter {
                display: flex;
                align-items: center;
                gap: var(--uui-size-3);
                line-height: 1.2;
                background-color: var(--uui-color-surface);
                border: 1px solid var(--uui-color-border);
                border-radius: var(--uui-border-radius);
                padding: var(--uui-size-3) var(--uui-size-4);
                cursor: pointer;
                transition:
                    background-color 0.2s ease-in-out,
                    border-color 0.2s ease-in-out;

                input {
                    margin: 0 0 0 var(--uui-size-3);
                    width: var(--uui-size-6);
                    height: var(--uui-size-6);
                }

                &:hover {
                    background-color: var(--uui-color-surface-alt);
                    border-color: var(--uui-color-border-emphasis);
                }

                &:has(input[type='radio']:checked) {
                    border-color: var(--uui-color-focus);
                    color: var(--uui-color-focus);
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    .addBlockModal__blockList {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: var(--uui-size-8);
        margin: 0 1px 0 0;
        padding: var(--uui-size-8) var(--uui-size-12);
        overflow-y: scroll;
        background-color: var(--uui-color-background);

        @media only screen and (min-width: 500px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media only screen and (min-width: 2000px) {
            padding: var(--uui-size-20);
        }
    }

    .addBlockModal__sidebarButtons {
        margin-top: auto;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        justify-content: end;
        padding: 1rem 2rem;
        background-color: var(--uui-color-surface);
        box-shadow: var(--uui-shadow-depth-4);
        border-top: 1px solid var(--uui-color-border);
    }
}
