// UMBRACO COLOR VARIABLES

@color-main: #1b264f; /* Dark purple */
@color-sub: #2152a3; /* Blue */
@color-alt: #f5c1bc; /* Pink */
@color-dark: #000000; /* Black */

@color-light-a: #f6f4f4; /* soft */
@color-light-b: #e9e9eb; /* mid */
@color-light-c: #d8d7d9; /* hard */

@color-border: @color-light-c;

@font-base: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
@font-title: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
@font-color: @color-dark;

@color-error: #de6161;
@color-warning: #f77349;
@color-success: #3ec19d;

@umbraco-border: @color-border;

// IMPORT: STYLES

@import "styles/perplex.content-blocks-block.less";
@import "styles/perplex.content-blocks-editor.less";
@import "styles/perplex.content-blocks-grid.less";
@import "styles/perplex.content-blocks-icons.less";
@import "styles/perplex.content-blocks-overlay.less";
@import "styles/perplex.content-blocks-picker.less";
@import "styles/perplex.content-blocks-sidebar.less";
@import "styles/perplex.content-blocks-slicksliders.less";
@import "styles/perplex.content-blocks-icon.less";

// SETUP

@umbraco-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
@umbraco-border-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.32);
@grid-margin: 20px;
@grid-width: 108rem;
@block-margin: 4rem;

.transition(@duration: 0.2s, @ease: ease-in-out) {
    transition: all @duration @ease;
}

.perplex-content-blocks {
    font-size: 80%;
    position: relative;

    @media only screen and (min-width: 120em) {
        font-size: 100%;
    }

    &--standalone {
        margin-bottom: 20px;
    }

    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    .btn-wide {
        width: 100%;
    }

    .btn-main {
        background: @color-main;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        color: white !important;

        &:not(input[type="submit"]) {
            -webkit-text-fill-color: rgba(255, 255, 255, 1);
            color: white;
        }
    }

    .btn-sub {
        background: @color-sub;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        color: white !important;

        &:hover {
            background: darken(@color-sub, 20%);
        }
    }

    .btn-alt {
        background: @color-alt;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        color: black !important;
    }

    .btn-radius {
        border-radius: 2rem;
    }

    .btn {
        font-weight: 700 !important;
        cursor: pointer;
    }

    .btn .l-icon:first-child {
        margin-right: 5px;
    }

    .btn .l-icon:last-child {
        margin-left: 5px;
    }
}

//
// OVERWRITES
//

.perplex-content-blocks__panel {
    all: unset;
    background: none;
    box-shadow: none !important;

    .umb-group-panel__header {
        display: none;
    }

    .umb-group-panel__content {
        padding: 0;
    }
}

// When splitview is active

.umb-split-views > .umb-split-view:not(:only-child) {
    & .control-group.umb-control-group > .alert.property-error {
        position: absolute;
        top: 20px;
        z-index: 11;
    }

    & .p-grid > [class*="p-col--md-"] {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
    }
    & .p-grid > .p-col--md-1-4 {
        order: -1 !important;
        margin-bottom: 20px !important;
        z-index: 10;

        .p-sidebar__holder--smart-preview {
            display: none;
        }
        .p-sidebar__holder {
            margin: -20px -20px 0 -20px;
            border: 0;
        }
        .p-sidebar__heading {
            display: none;
        }
        .p-sidebar__main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            gap: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            & > *,
            & .p-sidebar__blockoption__button {
                margin: 0;
            }
        }
    }
    & .p-block-topbar__settings {
        &.s-active .p-block-topbar__settings__duplicate {
            animation: settings__duplicate-in--left 0.2s forwards 0s ease-out;
        }

        &.s-active .p-block-topbar__settings__remove {
            animation: settings__remove-in--left 0.2s forwards 0.05s ease-out;
        }

        &.s-active .p-block-topbar__settings__hide {
            animation: settings__hide-in--left 0.2s forwards 0.1s ease-out;
        }

        @keyframes settings__remove-in--left {
            to {
                opacity: 1;
                transform: translate(-220%, -3%);
            }
        }

        @keyframes settings__hide-in--left {
            to {
                opacity: 1;
                transform: translate(-330%, -3%);
            }
        }

        @keyframes settings__duplicate-in--left {
            to {
                opacity: 1;
                transform: translate(-110%, -3%);
            }
        }
        @media only screen and (min-width: 108em) {
            @keyframes settings__remove-in--left {
                to {
                    opacity: 1;
                    transform: translate(-220%, 10%);
                }
            }

            @keyframes settings__hide-in--left {
                to {
                    opacity: 1;
                    transform: translate(-330%, 10%);
                }
            }

            @keyframes settings__duplicate-in--left {
                to {
                    opacity: 1;
                    transform: translate(-110%, 10%);
                }
            }
        }
    }
}
