<div class="perplex-content-blocks"
     ng-class="{'perplex-content-blocks--standalone' : vm.config.hidePropertyGroupContainer }"
     ng-controller="Perplex.ContentBlocks.Controller as vm"
     content-blocks-tab-focus-once="vm.fn.initData()">
    <div class="p-overlay__container p-overlay__container--picker picker" ng-show="vm.state.ui.picker.open">
        <div class="p-overlay__wrapper">
            <div class="p-overlay__tabbar" ng-if="vm.state.ui.picker.categories.length > 1">
                <button type="button" class="p-overlay__close" ng-click="vm.fn.picker.close()">
                    &times;
                </button>
                <div class="p-overlay__tabbar__item"
                     ng-class="{ selected: vm.state.ui.picker.selectedCategoryId === category.id, disabled: category.isDisabled }"
                     ng-repeat="category in vm.state.ui.picker.categories | filter:vm.fn.filters.categoryHasBlocks track by category.id"
                     ng-click="category.isDisabled ? null : vm.state.ui.picker.selectedCategoryId = category.id"
                     ng-disabled="category.isDisabled">
                    <svg class="l-icon l-icon--md"
                         ng-if="vm.computed.categoriesById[category.id]">
                        <use href="{{vm.computed.categoriesById[category.id].Icon}}"></use>
                    </svg>
                    <span ng-bind-template="{{category.category}} ({{category.blocks.length}})"></span>
                </div>
            </div>

            <div class="p-overlay__inner">
                <div class="umb-alert umb-alert--warning"
                     ng-if="vm.state.definitions.length === 0">
                    <h3>
                        <localize key="perplexContentBlocks_noContentBlocksFound">No Content Block definitions found</localize>
                    </h3>
                    <p>
                        <localize key="perplexContentBlocks_noContentBlocksFoundDesc">
                            Please refer to <a style="text-decoration: underline;" href="https://github.com/PerplexDigital/Perplex.ContentBlocks">the documentation</a> to get started.
                        </localize>
                    </p>
                </div>

                <div class="p-grid p-grid--sm p-grid--css-grid"
                     ng-repeat="category in vm.state.ui.picker.categories track by category.id"
                     ng-show="vm.state.ui.picker.selectedCategoryId === category.id">
                    <div class="p-col--lg-1-3"
                         ng-repeat="block in category.blocks track by block.Id">
                        <div class="p-pick-blocks__holder"
                             ng-class="{ selected: vm.state.ui.picker.selectedBlockId === block.Id }">
                            <button type="button" ng-click="vm.fn.picker.pick(block.Id)"
                                    class="p-pick-blocks__inner">
                                <span class="p-pick-blocks__inner__container">
                                    <span class="p-pick-blocks__inner__image">
                                        <img ng-if="block.PreviewImage" ng-src="{{block.PreviewImage}}" />
                                    </span>
                                    <span class="p-pick-blocks__inner__title" ng-bind="block.Name"></span>
                                    <span class="p-pick-blocks__inner__description" ng-bind="block.Description"></span>
                                </span>
                            </button>
                            <div class="p-pick-blocks__options__holder">
                                <div class="p-pick-blocks__options__info-bar">
                                    <div class="p-pick-blocks__options__info" localize="title" title="@perplexContentBlocks_numberOfLayouts"><content-blocks-icon icon="layers" size="xs"></content-blocks-icon>{{vm.computed.layoutsByDefinitionId[block.Id].length}}</div>
                                </div>
                                <button type="button" class="p-pick-blocks__options__preview preview-layouts"
                                        ng-show="vm.computed.layoutsByDefinitionId[block.Id].length > 0"
                                        ng-click="vm.fn.layoutPicker.init(block.Id, vm.state.ui.picker.callback)">
                                    <content-blocks-icon icon="zoom" size="xs"></content-blocks-icon>
                                    <span>
                                        <localize key="perplexContentBlocks_pickLayout">Pick layout</localize>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-overlay__bottom">
                <button type="button" class="btn btn-link" ng-click="vm.fn.picker.close()">
                    <localize key="perplexContentBlocks_cancel">Cancel</localize>
                </button>
                <button type="button" class="btn btn-main"
                        ng-if="vm.state.ui.picker.selectedBlockId != null"
                        ng-click="vm.fn.picker.confirm()">
                    <localize key="perplexContentBlocks_insertSelected">Insert selected</localize>
                    <content-blocks-icon icon="arrow-left" css-class="l-icon--btn"></content-blocks-icon>
                </button>
            </div>
        </div>
        <div class="p-overlay__background" ng-click="vm.fn.picker.close()"></div>
    </div>

    <div class="p-overlay__container p-overlay__container--layout-picker layout-picker" ng-if="vm.state.ui.layoutPicker.open">
        <div class="p-overlay__wrapper">
            <button type="button" class="p-overlay__close p-overlay__close--blue" ng-click="vm.fn.layoutPicker.close()">&times;</button>

            <div class="p-overlay__inner">
                <div class="p-pick-layouts__list slick-this layouts"
                     ng-class="{'is-initialized': vm.state.ui.layoutPicker.sliderInitialized && vm.state.ui.layoutPicker.textSliderInitialized }">
                    <slick dots="true" on-init="vm.state.ui.layoutPicker.sliderInitialized = true"
                           as-nav-for=".layout-text-slider">
                        <div class="layout"
                             ng-class="{ selected: vm.state.ui.layoutPicker.selectedLayoutId === layout.Id }"
                             ng-repeat="layout in vm.state.ui.layoutPicker.layouts track by layout.Id">
                            <button type="button" class="p-pick-layouts__item"
                                    ng-click="vm.fn.layoutPicker.pick(layout.Id)">
                                <span class="p-pick-layouts__image">
                                    <img ng-if="layout.PreviewImage" ng-src="{{layout.PreviewImage}}" />
                                </span>
                            </button>
                        </div>
                    </slick>
                    <slick class="layout-text-slider" dots="false" arrows="false"
                           swipe="false" swipe-to-move="false" touch-move="false"
                           on-init="vm.state.ui.layoutPicker.textSliderInitialized = true">
                        <div class="p-pick-layouts__item--text"
                             ng-repeat="layout in vm.state.ui.layoutPicker.layouts track by layout.Id">
                            <strong class="p-pick-layouts__title" ng-bind="layout.Name"></strong>
                            <span class="p-pick-layouts__description" ng-bind="layout.Description"></span>
                        </div>
                    </slick>
                </div>
            </div>
            <div class="p-overlay__bottom">
                <button type="button" class="btn btn-link" ng-click="vm.fn.layoutPicker.close()">
                    <localize key="perplexContentBlocks_close">Close</localize>
                </button>
                <button type="button" class="btn btn-main"
                        ng-if="vm.state.ui.layoutPicker.selectedLayoutId != null"
                        ng-click="vm.fn.layoutPicker.confirm()">
                    <localize key="perplexContentBlocks_insertSelected">Insert selected</localize>
                    <content-blocks-icon icon="arrow-left" css-class="l-icon--btn"></content-blocks-icon>
                </button>
            </div>
        </div>
        <div class="p-overlay__background" ng-click="vm.fn.layoutPicker.close()"></div>
    </div>

    <div class="p-grid">
        <div class="p-col--md-3-4 p-editor">
            <div class="p-editor__holder"
                 ng-show="!vm.state.ui.reorder"
                 ng-if="vm.config.structure.header">
                <div class="p-editor__empty p-editor__empty--header"
                     ng-show="model.value.header == null">
                    <div class="p-editor__empty__hover" ng-class="{'p-editor__empty__hover--visible': model.value.header == null}">
                        <div class="p-editor__empty__click">
                            <button class="btn btn-sub btn-radius" type="button"
                                    ng-click="vm.fn.header.pick()">
                                <content-blocks-icon icon="plus" size="xxs"></content-blocks-icon>
                                <span>
                                    <localize key="perplexContentBlocks_addHeader">Add header</localize>
                                </span>
                            </button>

                            <button class="btn btn-sub btn-radius" type="button"
                                    ng-click="vm.fn.copyPaste.paste()"
                                    ng-show="vm.state.copyPaste.hasData">
                                <content-blocks-icon icon="duplicate" size="xs"></content-blocks-icon>
                                <span>
                                    <localize key="perplexContentBlocks_pasteContent">Paste content</localize>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div ng-if="model.value.header != null"
                     class="p-block__header"
                     ng-class="{'no-contentblock': model.value.blocks != null && model.value.blocks.length == 0}">
                    <perplex-content-block block="model.value.header"
                                           definition="vm.computed.definitionsById[model.value.header.definitionId]"
                                           layouts="vm.computed.layoutsByDefinitionId[model.value.header.definitionId]"
                                           categories="vm.computed.categoriesByDefinitionId[model.value.header.definitionId]"
                                           is-mandatory="vm.computed.mandatoryBlocks[model.value.header.presetId]"
                                           get-value="model.value.header.content"
                                           set-value="model.value.header.content = value"
                                           copy-block="vm.fn.copyPaste.copyHeader(model.value.header)"
                                           paste="vm.fn.copyPaste.paste(model.value.header.id)"
                                           can-paste="vm.state.copyPaste.hasData"
                                           add-block="vm.fn.blocks.add(id)"
                                           remove-block="vm.fn.header.remove()"
                                           register-element="vm.fn.blocks.registerElement(model.value.header.id, element)"
                                           show-add-content-button="model.value.blocks.length === 0"
                                           disable-add-content="!vm.config.structure.blocks"
                                           register-ctrl="vm.fn.blocks.registerBlockController(model.value.header.id, ctrl)"
                                           on-open="vm.fn.preview.syncScroll()"
                                           on-close="vm.fn.preview.syncScroll(true)"
                                           validation-messages="vm.state.validationMessages[model.value.header.id]"
                                           allow-disable="false"
                                           is-loading="!vm.state.initialized"
                                           on-open-settings="vm.fn.ui.closeOtherBlockSettings(model.value.header.id)">
                    </perplex-content-block>
                </div>
            </div>

            <div class="p-editor__holder" ng-if="vm.config.structure.blocks">
                <div class="p-editor__empty__hover p-editor__empty__hover--visible p-editor__empty__hover--no-padding-top"
                     ng-if="!vm.config.structure.header || (vm.config.allowBlocksWithoutHeader && model.value.header == null)"
                     ng-show="model.value.blocks.length === 0">
                    <div class="p-editor__empty__click">
                        <button class="btn btn-sub btn-radius" type="button"
                                ng-click="vm.fn.blocks.add()">
                            <content-blocks-icon icon="plus" size="xxs"></content-blocks-icon>
                            <span>
                                <localize key="perplexContentBlocks_addContent">Add content</localize>
                            </span>
                        </button>

                        <button class="btn btn-sub btn-radius" type="button"
                                ng-click="vm.fn.copyPaste.paste()"
                                ng-show="vm.state.copyPaste.hasData">
                            <content-blocks-icon icon="duplicate" size="xs"></content-blocks-icon>
                            <span>
                                <localize key="perplexContentBlocks_pasteContent">Paste content</localize>
                            </span>
                        </button>
                    </div>
                </div>

                <div class="p-block__list blocks"
                     ng-show="model.value.blocks != null && model.value.blocks.length > 0"
                     ng-class="{ 'is-reorder': vm.state.ui.reorder }"
                     ng-model="model.value.blocks"
                     ui-sortable="{ disabled: !vm.state.ui.reorder }">
                    <perplex-content-block ng-repeat="block in model.value.blocks track by block.id"
                                           block="block"
                                           definition="vm.computed.definitionsById[block.definitionId]"
                                           layouts="vm.computed.layoutsByDefinitionId[block.definitionId]"
                                           categories="vm.computed.categoriesByDefinitionId[block.definitionId]"
                                           is-mandatory="vm.computed.mandatoryBlocks[block.presetId]"
                                           get-value="block.content"
                                           set-value="block.content = value"
                                           add-block="vm.fn.blocks.add(id)"
                                           remove-block="vm.fn.blocks.remove(block.id)"
                                           paste="vm.fn.copyPaste.paste(block.id)"
                                           can-paste="vm.state.copyPaste.hasData"
                                           copy-block="vm.fn.copyPaste.copyBlock(block)"
                                           register-element="vm.fn.blocks.registerElement(block.id, element)"
                                           is-reorder="vm.state.ui.reorder"
                                           show-add-content-button="$last"
                                           register-ctrl="vm.fn.blocks.registerBlockController(block.id, ctrl)"
                                           on-open="vm.fn.preview.syncScroll()"
                                           on-close="vm.fn.preview.syncScroll(true)"
                                           validation-messages="vm.state.validationMessages[block.id]"
                                           allow-disable="true"
                                           is-loading="!vm.state.initialized"
                                           on-open-settings="vm.fn.ui.closeOtherBlockSettings(block.id)">
                    </perplex-content-block>
                </div>
            </div>
        </div>
        <div class="p-col--md-1-4">
            <div class="p-sidebar__holder" ng-if="!vm.config.disablePreview">
                <div class="p-sidebar__heading">
                    <strong class="p-sidebar__heading__title"><localize key="perplexContentBlocks_smartPreview">Smart Preview</localize></strong>
                    <button class="p-sidebar__preview__icon"
                            type="button"
                            ng-class="{'s-active': vm.state.preview.mode === vm.constants.preview.mode.desktop}"
                            ng-click="vm.fn.preview.switchToDesktop()">
                        <content-blocks-icon icon="desktop"></content-blocks-icon>
                    </button>

                    <button class="p-sidebar__preview__icon"
                            type="button"
                            ng-class="{'s-active': vm.state.preview.mode === vm.constants.preview.mode.mobile}"
                            ng-click="vm.fn.preview.switchToMobile()">
                        <content-blocks-icon icon="phone"></content-blocks-icon>
                    </button>
                </div>
                <div class="p-sidebar__main">
                    <strong ng-if="vm.state.isNewPage"><localize key="perplexContentBlocks_savePageToPreviewIt">Save your page first in order to preview it</localize></strong>
                    <div ng-show="!vm.state.isNewPage" class="p-sidebar__preview__frame p-sidebar__preview__frame--{{vm.state.preview.mode}}">
                        <iframe class="p-sidebar__preview__root root p-sidebar__preview__root--{{vm.state.preview.mode}}"></iframe>
                    </div>

                    <div ng-if="!vm.state.isNewPage">
                        <small class="p-sidebar__preview__timestamp"
                               ng-show="vm.state.preview.lastUpdate">
                            <span>
                                <localize key="perplexContentBlocks_lastUpdate">Last update</localize>:
                            </span>
                            <span ng-bind-template="{{vm.state.preview.lastUpdate | date:'HH:mm'}}"></span>
                        </small>
                        <button type="button" ng-click="vm.fn.save()" class="btn btn-main btn-wide">
                            <localize key="perplexContentBlocks_saveAndRefresh">Save &amp; Refresh</localize>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-sidebar__holder"
                 ng-show="model.value.header != null || model.value.blocks.length > 0">
                <div class="p-sidebar__heading">
                    <strong class="p-sidebar__heading__title">
                        <localize key="perplexContentBlocks_options">Options</localize>
                    </strong>
                </div>
                <div class="p-sidebar__main">
                    <button type="button" class="p-sidebar__blockoption__button"
                            ng-click="vm.fn.ui.toggleExpandAll()">
                        <div ng-show="vm.state.ui.expandAll">
                            <content-blocks-icon icon="grid-small" size="xxs"></content-blocks-icon>
                            <localize key="perplexContentBlocks_closeAllBlocks">Close all blocks</localize>
                        </div>
                        <div ng-show="!vm.state.ui.expandAll">
                            <content-blocks-icon icon="grid-big" size="xxs"></content-blocks-icon>
                            <localize key="perplexContentBlocks_openAllBlocks">
                                Open all blocks
                            </localize>
                        </div>
                    </button>
                    <span ng-if="vm.config.structure.blocks"
                          ng-click="vm.fn.ui.toggleReorder()"
                          ng-show="model.value.blocks.length > 1"
                          ng-class="{'s-active': vm.state.ui.reorder === !vm.state.ui.reorder}">
                        <button type="button" class="p-sidebar__blockoption__button" ng-show="!vm.state.ui.reorder">
                            <content-blocks-icon icon="reorder" size="xs"></content-blocks-icon>
                            <localize key="perplexContentBlocks_reorderBlocks">
                                Reorder blocks
                            </localize>
                        </button>
                        <button type="button" class="p-sidebar__blockoption__button is-reorder" ng-show="vm.state.ui.reorder">
                            <content-blocks-icon icon="checkmark" size="xs"></content-blocks-icon>
                            <localize key="perplexContentBlocks_doneReordering">
                                Done reordering
                            </localize>
                        </button>
                    </span>
                    <button type="button" class="p-sidebar__blockoption__button"
                            ng-show="model.value.header != null || model.value.blocks.length > 0"
                            ng-click="vm.fn.copyPaste.copyAll()">
                        <div>
                            <content-blocks-icon icon="duplicate" size="xs"></content-blocks-icon>
                            <localize key="perplexContentBlocks_copyAllBlocks">
                                Copy all blocks
                            </localize>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
