<perplex-content-blocks-legacy-validation-messages validation-messages="$ctrl.blockCtrl.validationMessages[null]"></perplex-content-blocks-legacy-validation-messages>

<content-blocks-property ng-if="$ctrl.block.content != null"
                         content-block-id="$ctrl.block.id"
                         datatype-id="$ctrl.definition.DataTypeId"
                         datatype-key="$ctrl.definition.DataTypeKey"
                         get-value="$ctrl.blockCtrl.getValue()"
                         set-value="$ctrl.blockCtrl.setValue({ value: value })">
</content-blocks-property>

<pre ng-show="$ctrl.show" ng-bind="$ctrl.block | json"></pre>
<button type="button" ng-click="$ctrl.show = !$ctrl.show">toggle</button>
<button type="button" ng-show="$ctrl.block.content != null" ng-click="$ctrl.block.content = null">disable default</button>
<button type="button" ng-show="$ctrl.block.content == null" ng-click="$ctrl.block.content = []">enable default</button>

<hr />

<div ng-show="$ctrl.block.variants.length > 0">
    <div ng-repeat="variant in $ctrl.block.variants track by variant.id">
        <pre ng-bind="variant.alias"></pre>

        <button type="button" ng-show="variant.content != null" ng-click="variant.content = null">disable variant</button>
        <button type="button" ng-show="variant.content == null" ng-click="variant.content = []">enable variant</button>

        <perplex-content-blocks-legacy-validation-messages validation-messages="$ctrl.blockCtrl.validationMessages[variant.id]"></perplex-content-blocks-legacy-validation-messages>

        <content-blocks-property ng-if="variant.content != null"
                                 content-block-id="$ctrl.block.id"
                                 variant-id="variant.id"
                                 datatype-id="$ctrl.definition.DataTypeId"
                                 datatype-key="$ctrl.definition.DataTypeKey"
                                 get-value="variant.content"
                                 set-value="variant.content = value">
        </content-blocks-property>

        <button type="button" ng-click="$ctrl.blockCtrl.removeVariant(variant.alias)">Remove variant</button>
    </div>
</div>

<div>
    <input type="text" ng-model="$ctrl.newVariantAlias" placeholder="new variant alias" />
    <button type="button" ng-click="$ctrl.blockCtrl.addVariant($ctrl.newVariantAlias)">Add variant</button>
</div>
