.block-head {
    border-radius: var(--r-lg);
    display: flex;
    align-items: stretch;
    width: 100%;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--c-submarine), 0);
    transition: 250ms border ease;

    .block-head__control {
        border: none;
        cursor: pointer;
        &:hover {
            color: var(--c-danger);
        }
    }

    .block-head__toggle {
        display: flex;
        align-items: stretch;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 250ms border ease;
    }

    &.block-head--open {
        border-radius: var(--r-lg) 0 border-radius: var(--r-lg) 0;
        border-bottom: 1px solid rgba(var(--c-submarine), 1);
    }


    uui-icon {
        padding: calc(var(--s) * 4);
    }

    .block-head__title {
        display: flex;
        min-width: 200px;
        align-items: start;
        justify-content: center;
        padding: 0 calc(var(--s) * 6);
        flex-direction: column;
        border-left: 1px solid rgb(var(--c-submarine));
        flex: 1;

        div {
            font-size: var(--fs-sm);
        }

        strong {
            font-size: var(--fs-base);
        }
    }
}
