@using ContentModels = Umbraco.Web.PublishedModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.ExampleBlock>

<div style="background-color: #f0f;">
    @Html.Partial("ExampleHeader/_ExampleHeader")
</div>
