@using ContentModels = Umbraco.Web.PublishedModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.ExampleBlock>

    <div style="background-color: #fce94f;">
        @Html.Partial("ExampleHeader/_ExampleHeader")
    </div>
