@using ContentModels = Umbraco.Web.PublishedModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.ExampleBlock>

<div style="background-color: #3465a4;">
    @Html.Partial("ExampleBlock/_ExampleBlock")
</div>
