<div class="p-block__item"
     ng-class="{ 'is-disabled': $ctrl.block.isDisabled, 'is-mandatory': $ctrl.isMandatory, 'is-invalid': $ctrl.validationMessages }"
     data-id="{{$ctrl.block.id}}">
    <div class="p-block-topbar"
         ng-if="!$ctrl.state.initialized">
        <div class="p-block-topbar__icon"></div>
        <div class="p-block-topbar__text"></div>
        <div class="p-block-topbar__settings">
            <button type="button" class="p-block-topbar__settings__button">
                <content-blocks-icon icon="settings"></content-blocks-icon>
            </button>
        </div>
    </div>

    <div class="p-block-topbar"
         ng-if="$ctrl.state.initialized && !$ctrl.definition">
        <div class="p-block-topbar__text">
            <strong>Block definition not found</strong>
            <div ng-bind="$ctrl.block.definitionId"></div>
        </div>
        <div class="p-block-topbar__settings"
             ng-class="{ 's-active': $ctrl.state.showSettings }"
             ng-if="!$ctrl.isMandatory">
            <button type="button"
                    class="p-block-topbar__settings__button"
                    ng-click="$ctrl.toggleSettings()">
                <content-blocks-icon icon="settings" css-class="p-block-topbar__settings__svg-open"></content-blocks-icon>
                <content-blocks-icon icon="close" css-class="p-block-topbar__settings__svg-close"></content-blocks-icon>
            </button>
            <button type="button" class="p-block-topbar__settings__remove remove" ng-click="$ctrl.removeBlock()">
                <content-blocks-icon icon="waste"></content-blocks-icon>
                <span class="p-block-topbar__settings__text"><localize key="perplexContentBlocks_remove">Remove</localize></span>
            </button>
        </div>
    </div>

    <div class="p-block-topbar"
         ng-if="$ctrl.state.initialized && $ctrl.definition">
        <div class="p-block-topbar__icon">
            <svg class="l-icon l-icon--md"
                 ng-click="$ctrl.toggle()"
                 ng-if="$ctrl.categories.length > 0">
                <use href="{{$ctrl.categories[0].Icon}}"></use>
            </svg>
        </div>
        <div class="p-block-topbar__text" ng-click="!$ctrl.isReorder && $ctrl.toggle()">
            <strong ng-bind="$ctrl.name"></strong>
            <div ng-bind="$ctrl.definition.Name"></div>
        </div>
        <div class="p-block-topbar__layout"
             ng-mouseenter="$ctrl.showLayoutPreview = true"
             ng-mouseleave="$ctrl.showLayoutPreview = false"
             ng-class="{
                'is-disabled': $ctrl.layouts.length === 1,
                'is-initialized': $ctrl.state.sliderInitialized
             }">
            <div class="p-block-topbar__layout__list">
                <slick on-after-change="$ctrl.setLayout(currentSlide)"
                       on-init="$ctrl.state.sliderInitialized = true"
                       initial-slide="$ctrl.state.layoutIndex"
                       as-nav-for="[data-id='{{$ctrl.block.id}}'] .p-block-topbar__layout__view"
                       infinite="true">
                    <div class="p-block-topbar__layout__item layout"
                         ng-class="{ selected: layout.Id === $ctrl.block.layoutId }"
                         ng-repeat="layout in $ctrl.layouts track by layout.Id">
                        <span ng-bind="layout.Name"></span>
                    </div>
                </slick>
            </div>
        </div>
        <div class="p-block-topbar__settings"
             ng-class="{ 's-active': $ctrl.state.showSettings }"
             ng-if="!$ctrl.isMandatory">
            <button type="button"
                    class="p-block-topbar__settings__button"
                    ng-click="$ctrl.toggleSettings()">
                <content-blocks-icon css-class="p-block-topbar__settings__svg-open" icon="settings"></content-blocks-icon>
                <content-blocks-icon css-class="p-block-topbar__settings__svg-close" icon="close"></content-blocks-icon>
            </button>
            <button ng-if="$ctrl.copyBlock" type="button" class="p-block-topbar__settings__duplicate duplicate" ng-click="$ctrl.copyBlock();$ctrl.closeSettings();">
                <content-blocks-icon icon="duplicate"></content-blocks-icon>
                <span class="p-block-topbar__settings__text"><localize key="perplexContentBlocks_copy">Copy</localize></span>
            </button>
            <button type="button" class="p-block-topbar__settings__remove remove" ng-click="$ctrl.removeBlock()">
                <content-blocks-icon icon="waste"></content-blocks-icon>
                <span class="p-block-topbar__settings__text"><localize key="perplexContentBlocks_remove">Remove</localize></span>
            </button>
            <button type="button" class="p-block-topbar__settings__hide"
                    ng-if="$ctrl.allowDisable || $ctrl.block.isDisabled"
                    ng-click="$ctrl.block.isDisabled = !$ctrl.block.isDisabled;$ctrl.closeSettings()">
                <div ng-show="$ctrl.block.isDisabled">
                    <content-blocks-icon icon="show"></content-blocks-icon>
                    <span class="p-block-topbar__settings__text"><localize key="perplexContentBlocks_show">Show</localize></span>
                </div>
                <div ng-show="!$ctrl.block.isDisabled">
                    <content-blocks-icon icon="hide"></content-blocks-icon>
                    <span class="p-block-topbar__settings__text"><localize key="perplexContentBlocks_hide">Hide</localize></span>
                </div>
            </button>
        </div>

        <div class="p-block-topbar__mandatory" ng-if="$ctrl.isMandatory">
            <span class="p-block__mandatory">
                <content-blocks-icon icon="settings-lock"></content-blocks-icon>
            </span>
            <span class="p-block__mandatory__info">
                <localize key="perplexContentBlocks_blockSettingsMandatory">
                    This block is mandatory: settings cannot be changed.
                </localize>
            </span>
        </div>

        <button class="p-block-topbar__toggle" type="button"
                ng-class="{'is-collapsed': !$ctrl.state.open }"
                ng-click="$ctrl.toggle()">
            <content-blocks-icon icon="arrow-left"></content-blocks-icon>
        </button>
        <span class="p-block__reorder" type="button">
            <content-blocks-icon icon="reorder"></content-blocks-icon>
        </span>
        <div class="p-block-topbar__layout__preview" ng-class="{'is-active': $ctrl.showLayoutPreview}">
            <slick initial-slide="$ctrl.state.layoutIndex"
                   infinite="true"
                   class="p-block-topbar__layout__view"
                   dots="false"
                   arrows="false">
                <div class="p-block-topbar__layout__imageholder layout"
                     ng-class="{ selected: layout.Id === $ctrl.block.layoutId }"
                     ng-repeat="layout in $ctrl.layouts track by layout.Id">
                    <img class="p-block-topbar__layout__img" ng-src="{{layout.PreviewImage}}" />
                </div>
            </slick>
        </div>
    </div>

    <div class="p-block__main"
         ng-if="$ctrl.state.initialized && $ctrl.state.loadEditor">
        <div class="alert alert-error property-error"
             ng-show="$ctrl.validationMessages"
             ng-repeat="validationMessage in $ctrl.validationMessages"
             ng-bind="validationMessage">
        </div>
        <content-blocks-property datatype-id="$ctrl.definition.DataTypeId"
                                 datatype-key="$ctrl.definition.DataTypeKey"
                                 get-value="$ctrl.getValue()"
                                 set-value="$ctrl.setValue({ value: value })"
                                 on-change="$ctrl.updateName()">
        </content-blocks-property>
    </div>
</div>

<div class="p-editor__empty__hover"
     ng-if="!$ctrl.disableAddContent"
     ng-class="{ 'p-editor__empty__hover--visible': $ctrl.showAddContentButton }">
    <div class="p-editor__empty__click">
        <button class="btn btn-sub btn-radius" type="button"
                ng-click="$ctrl.addBlock({ id: $ctrl.block.id })"
                ng-show="$ctrl.addBlock">
            <content-blocks-icon icon="plus" size="xxs"></content-blocks-icon>
            <span>
                <localize key="perplexContentBlocks_addContent">Add content</localize>
            </span>
        </button>
        <button class="btn btn-sub btn-radius" type="button"
                ng-click="$ctrl.paste()"
                ng-show="$ctrl.canPaste && $ctrl.paste">
            <content-blocks-icon icon="duplicate" size="xs"></content-blocks-icon>
            <span>
                <localize key="perplexContentBlocks_pasteContent">Paste content</localize>
            </span>
        </button>
    </div>
</div>
