<div class="p-editor__empty__hover"
     ng-class="{ 'p-editor__empty__hover--visible': $ctrl.show, 'p-editor__empty__hover--no-padding-top': $ctrl.noPaddingTop }">
    <div class="p-editor__empty__click">
        <button class="btn btn-sub btn-radius" type="button"
                ng-click="$ctrl.addBlock()">
            <content-blocks-icon icon="plus" size="xxs"></content-blocks-icon>
            <span>
                <localize ng-show="!$ctrl.isHeader" key="perplexContentBlocks_addContent">Add content</localize>
                <localize ng-show="$ctrl.isHeader" key="perplexContentBlocks_addHeader">Add header</localize>
            </span>
        </button>
        <button class="btn btn-sub btn-radius" type="button"
                ng-click="$ctrl.paste()"
                ng-show="$ctrl.canPaste">
            <content-blocks-icon icon="duplicate" size="xs"></content-blocks-icon>
            <span>
                <localize key="perplexContentBlocks_pasteContent">Paste content</localize>
            </span>
        </button>
    </div>
</div>
