@using ContentModels = Umbraco.Web.PublishedModels;
@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<ContentModels.ExampleBlock>

<div style="height: 400px;">
    <h2>@Model.Content.Title</h2>
    @Model.Content.Text
</div>
