.block-head {
    display: flex;
    transition: 250ms border ease;
    background-color: var(--c-white, #ffffff);

    &.block-head--disabled {
        background-color: var(--c-alabaster, #fafafa);
    }

    .block-head__controls {
        display: flex;
        align-items: center;
        border-top-right-radius: var(--r-lg, 4px);
        border-bottom-right-radius: var(--r-lg, 4px);
        border: 1px solid var(--c-border, #d8d7d9);
    }

    .block-head__control {
        border: none;
        cursor: pointer;
        background-color: transparent;
        border-right: 1px solid var(--c-border, #d8d7d9);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 calc(var(--s, 4px) * 4);

        &:last-child {
            border-right: none;
        }

        &:hover {
            background-color: var(--c-alabaster, #fafafa);
        }
    }

    .block-head__toggle {
        display: flex;
        align-items: stretch;
        flex: 1 1 0;
        min-width: 0;
        border: none;
        cursor: pointer;
        padding: 0;
        border: 1px solid var(--c-border, #d8d7d9);
        border-top-left-radius: var(--r-lg, 4px);
        border-bottom-left-radius: var(--r-lg, 4px);
        overflow: hidden;
        background-color: transparent;
        transition: 250ms border ease;
    }

    &.block-head--open {
        border-radius: var(--r-lg, 4px) 0;
        border-bottom: 1px solid var(--c-border, #d8d7d9);
    }

    .block-head__icon {
        padding: calc(var(--s, 4px) * 4) calc(var(--s, 4px) * 4);
    }

    .block-head__handle-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--s, 4px) * 9);
        border-right: 1px solid var(--c-border, #d8d7d9);
        background-color: var(--c-alabaster, #fafafa);
    }

    .block-head__handle {
        display: none;
        color: var(--c-silver, #c4c4c4);

        @media only screen and (min-width: 1000px) {
            display: block;
        }
    }

    .block-head__title {
        display: flex;
        align-items: start;
        justify-content: center;
        justify-items: flex-start;
        padding-block: calc(var(--s, 4px) * 2);
        padding-inline: calc(var(--s, 4px) * 3) calc(var(--s, 4px) * 4);
        flex-direction: column;
        flex: 1 1 0;
        min-width: 0;
        min-height: calc(var(--s, 4px) * 10);
        line-height: 1.5;
        color: var(--uui-color-text);

        &:hover {
            background-color: var(--c-alabaster, #fafafa);
        }

        .block-head--disabled & {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        strong {
            display: block;
            flex: 0 0 auto;
            width: 100%;
            min-width: 0;
            text-align: left;
            font-size: var(--fs-sm, 14px);
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .block-head--disabled & {
                text-decoration: line-through;
                opacity: 0.5;
            }
        }

        uui-tag {
            grid-row: span 2;
            justify-self: flex-end;
            align-self: center;

            svg {
                width: calc(var(--s, 4px) * 4);
                height: calc(var(--s, 4px) * 4);
                vertical-align: middle;
            }

            span {
                margin-left: calc(var(--s, 4px) * 2);
                vertical-align: middle;
            }
        }

        .block-head__description {
            font-size: var(--fs-xs, 12px);

            .block-head--disabled & {
                opacity: 0.5;
            }

            &.block-head__description--no-title {
                font-size: var(--fs-sm, 14px);
                font-weight: 700;

                .block-head--disabled & {
                    text-decoration: line-through;
                }
            }
        }
    }
}
