.block-head {
    border-radius: var(--r-lg);
    display: flex;
    align-items: stretch;
    width: 100%;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--c-submarine), 0);
    transition: 250ms border ease;
    background-color: var(--c-wild-sand);


    .block-head__controls {
        display: flex;
        align-items: center;
    }

    .block-head__control {
        border: none;
        cursor: pointer;
        background-color: transparent;
        border-right: 1px solid rgb(var(--c-submarine));
        height: 100%;
        padding: 0 calc(var(--s) * 3);

        &.block-head__control--disabled {
            opacity: 0.3;
        }

        &:last-child {
            border-right: none;
        }

        &:hover {
            color: var(--uui-color-default-emphasis);
        }
    }

    .block-head__toggle {
        display: flex;
        align-items: stretch;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 250ms border ease;
        background-color: transparent;

        &.block-head__toggle--disabled {
            opacity: 0.3;
        }
    }

    &.block-head--open {
        border-radius: var(--r-lg) 0;
        border-bottom: 1px solid rgba(var(--c-submarine), 1);
    }


    .block-head__icon {
        padding: calc(var(--s) * 4);
    }

    .block-head__title {
        display: flex;
        min-width: 200px;
        align-items: start;
        justify-content: center;
        padding: 0 calc(var(--s) * 6);
        flex-direction: column;
        border-left: 1px solid rgb(var(--c-submarine));
        flex: 1;

        div {
            font-size: var(--fs-sm);
        }

        strong {
            font-size: var(--fs-base);
        }
    }
}
