.block-head {
    border-radius: var(--r-lg);
    display: flex;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--c-submarine), 0);
    transition: 250ms border ease;
    background-color: var(--c-wild-sand);

    .block-head__controls {
        display: flex;
        align-items: center;
    }

    .block-head__control {
        border: none;
        cursor: pointer;
        background-color: transparent;
        border-right: 1px solid rgb(var(--c-submarine));
        height: 100%;
        padding: 0 calc(var(--s) * 3);

        &.block-head__control--disabled {
            opacity: 0.3;
            cursor: default;
        }

        &:last-child {
            border-right: none;
        }

        &:hover:not(.block-head__control--disabled) {
            color: var(--uui-color-default-emphasis);
        }
    }

    .block-head__toggle {
        display: flex;
        align-items: stretch;
        flex: 1 1 0;
        min-width: 0;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: 250ms border ease;
        background-color: transparent;

        &.block-head__toggle--disabled {
            opacity: 0.3;
        }
    }

    &.block-head--open {
        border-radius: var(--r-lg) 0;
        border-bottom: 1px solid rgba(var(--c-submarine), 1);
    }

    .block-head__icon {
        padding: calc(var(--s) * 4) calc(var(--s) * 4);
    }

    .block-head__handle {
        display: none;
        padding: calc(var(--s) * 4) calc(var(--s) * 2);
        color: var(--c-boat);

        @media only screen and (min-width: 1000px) {
            display: block;
        }
    }

    .block-head__title {
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 0 calc(var(--s) * 3);
        flex-direction: column;
        border-left: 1px solid rgb(var(--c-submarine));
        flex: 1 1 0;
        min-width: 0;

        div {
            font-size: var(--fs-sm);
        }

        strong {
            display: block;
            flex: 0 0 auto;
            width: 100%;
            min-width: 0;
            text-align: left;
            font-size: var(--fs-base);
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
