.pcb-block-spacer {
    padding: calc(var(--s) * 3) 0;
    margin: 0 calc(var(--s) * 12);


    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease, 250ms padding ease;

    &.pcb-block-spacer > div {
        overflow: hidden;
        background-color: var(--c-mystic);
        padding: calc(var(--s) * 1) calc(var(--s) * 3);
        transition: 250ms padding ease;

        > * {
            opacity: 0;
            transition: 250ms opacity ease;
        }
    }

    &.pcb-block-spacer:hover {
        grid-template-rows: 1fr;

        > div {
            padding: calc(var(--s) * 3);

            > * {
                opacity: 1;
            }
        }

    }

    .pcb-block-spacer__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--s) * 3);
    }
}
