.pcb-block-spacer {
    display: grid;
    grid-template-rows: 0fr;
    padding: calc(var(--s, 4px) * 3) calc(var(--s, 4px) * 4);
    border-radius: calc(var(--s, 4px) * 5);
    transition:
        250ms grid-template-rows ease,
        250ms padding ease;

    &.pcb-block-spacer > div {
        overflow: hidden;
        background-color: var(--uui-color-background, #f3f3f5);
        border-top: 2px solid var(--uui-color-background, #f3f3f5);
        border-radius: var(--s, 4px);
        transition: 250ms padding ease;

        > * {
            opacity: 0;
            transition: 250ms opacity ease;
        }
    }

    &.pcb-block-spacer:hover {
        grid-template-rows: 1fr;

        > div {
            padding: calc(var(--s, 4px) * 5);

            > * {
                opacity: 1;
            }
        }
    }

    .pcb-block-spacer__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--s, 4px) * 3);
    }
}
