[*]
trim_trailing_whitespace = true

[*.cs]
# Private fields are prefixed width underscore
# From: https://github.com/dotnet/roslyn/issues/22884#issuecomment-358776444
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

[{appSettings*.json,*.csproj}]
indent_style = space
indent_size = 2
