:host(.swiper--small) {
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 1.2rem;
        --swiper-navigation-sides-offset: 1rem;
        color: white;
        background-color: var(--c-black, #333333);
        border-radius: 100%;
        height: 1.2rem;
        width: 1.2rem;
        margin-top: calc(var(--swiper-navigation-size) * -2);

        svg {
            width: 0.35rem;
        }
    }
}
.swiper-pagination {
    height: 2rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--c-black, #333333);
}

.swiper-button-next,
.swiper-button-prev {
    top: 100%;
    margin-top: calc(var(--s, 4px) * -8.5);
    color: white;
    background-color: var(--c-black, #333333);
    opacity: 0.6;
    border-radius: 100%;
    height: calc(var(--s, 4px) * 4.5);
    width: calc(var(--s, 4px) * 4.5);
    --swiper-navigation-size: calc(var(--s, 4px) * 4.5);
    --swiper-navigation-sides-offset: calc(var(--s, 4px) * 4);
    z-index: 11;

    &:hover {
        opacity: 1;
    }

    svg {
        height: calc(var(--s, 4px) * 2);

        path {
            vector-effect: non-scaling-stroke;
            stroke: currentColor;
        }
    }

    &.swiper-button-disabled {
        opacity: 0.25;
    }
}
