:host(.swiper--small) {
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 1.2rem;
        --swiper-navigation-sides-offset: 1rem;
        color: white;
        background-color: var(--uui-color-text);
        border-radius: 100%;
        height: 1.2rem;
        width: 1.2rem;
        margin-top: calc(var(--swiper-navigation-size) * -2);

        svg {
            width: 0.35rem;
        }
    }
}
.swiper-pagination {
    height: 2rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--uui-color-text);
}

.swiper-button-next,
.swiper-button-prev {
    top: 100%;
    margin-top: calc(var(--uui-size-11) * -1);
    color: white;
    background-color: var(--uui-color-text);
    opacity: 0.6;
    border-radius: 100%;
    height: var(--uui-size-6);
    width: var(--uui-size-6);
    --swiper-navigation-size: var(--uui-size-6);
    --swiper-navigation-sides-offset: var(--uui-size-5);
    z-index: 11;

    &:hover {
        opacity: 1;
    }

    svg {
        height: var(--uui-size-3);

        path {
            vector-effect: non-scaling-stroke;
            stroke: currentColor;
        }
    }

    &.swiper-button-disabled {
        opacity: 0.25;
    }
}
