:host(.swiper--small) {
    .swiper-button-next,
    .swiper-button-prev {
        color: white;
        background-color: var(--c-black, #333333);
        border-radius: 100%;
        height: 1.2rem;
        width: 1.2rem;
        --swiper-navigation-size: 1.2rem;
        --swiper-navigation-sides-offset: 1rem;

        svg {
            width: 0.35rem;
        }
    }
}
.swiper-pagination {
    height: 2rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--c-black, #333333);
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    background-color: var(--c-black, #333333);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    --swiper-navigation-size: 2rem;

    svg {
        width: 0.5rem;
    }

    &.swiper-button-disabled {
        opacity: 0.6;
    }
}
